@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css');


*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --primary-color:#06AED5;
    --primary-background:#086788;
    --background-color:#87BFD2;
    --background-behind:#A1A1A1;
    --backgorund:#0B192C;
    --background-body:#e2f7fe;
    --background-sup:#086788;
    
    /* Title and text */
    --dark-color:black;
    --white-color:white;
    --text-color:grey;
    --title-color:#086788;
}

body{
    width:100%;
    height:100%;
    background-color:var(--background-body);
    font-family: "Noto Sans", sans-serif;
}
.container{
    max-width:1200px;
    width:100%;
    margin: 0 auto;
}
h1, h2, h3, h4{
    font-size: 3rem;
}

ul,
li,
a{
    list-style-type: none;
    text-decoration: none;
}
img{
    width:100%;
}
section{
    padding:100px 0;
}
@media only screen and (max-width:768px) {
    section{
        padding:50px 0;
    }
}

/* header */
.sup-header{
    width:100%;
    padding:10px;
    background-color:var(--background-sup);
}
.sup-text p{
    text-align: center;
    color:var(--background-body);
    font-weight: 500;
}
.header{
    position: relative;
    width:100%;
    height:500px;
    background-image:linear-gradient(#08688838, #086888f4), url(/src/assest/image/dental.jpg);
    background-position: center;
    background-size:cover;
    padding:20px 0 0 0;
}
.header-menus{
    position: relative;
    width:85%;
    margin: 0 auto;
    background-color: var(--white-color);
    padding:1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 2px;
}
nav{
    display: flex;
    align-items: center;
}
nav .logo img{
    width:50px;
    margin-right:2rem;
}
.navber ul{
    display: flex;
    align-items: center;
}
.navber ul li a{
    font-size: 1.1rem;
    font-weight: 500;
    font-family: "Noto Sans";
    color: var(--title-color);
    padding:5px 15px;
    border-radius: 2px;
    transition: 0.5s ease 0s;
}
.navber ul li a:hover{
    background-color:var(--primary-background);
    color:var(--white-color);
}
.btn{
    padding:5px 15px;
    border-radius: 2px;
    font-size: 1rem;
    font-weight: 600;
}
.primary-btn{
    color:var(--white-color);
    background-color:var(--primary-background);
    border: 2px solid var(--title-color);
    transition: 0.5s ease 0s;
}
.primary-btn:hover{
    color: var(--title-color);
    background-color: transparent;
}
#toggle{
    display: none;
}
.header label{
    font-size: 1.2rem;
    font-weight: 600;
    color:var(--title-color);
    cursor: pointer;
    display: none;
}
#toggle:checked ~ .navber{
    left:-120%;
}
.header-content{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}
.content-title{
    text-align: center;
}
.content-title h1{
    font-size: 3rem;
    color: var(--white-color);
    font-weight: 600;
    margin-bottom:0.5rem;
    letter-spacing: 1px;
}
.content-title p{
    font-size: 1rem;
    line-height:1.2em;
    color: var(--white-color);
    opacity: 0.7;
    margin-bottom:2rem;
}
.button-btn .primary-btn{
    padding:10px 20px;
    transition: 0.5s ease 0s;
}
.button-btn a i{
    font-size:1rem;
    transition: 0.5s ease 0s;
    opacity: 1;
}
.button-btn a:hover i{
    display: none;
}
.button-btn:hover .primary-btn{
    border: 1px solid var(--white-color);
    color: var(--white-color);
    box-shadow: 0px 0px 4px 1px var(--background-sup);
}
@media only screen and (max-width:768px) {

    .header-menus{
        padding:0.5rem;
    }
    .header-content{
        margin-top: 20px;
    }
    .content-title h1{
        font-size: 2rem;
    }
    .navber{
        position: absolute;
        top:100%;
        left:0%;
        right:0;
        width:100%;
        height:340px;
        background-color: var(--white-color);
        z-index: 10;
        text-align: center;
    }
    .navber ul{
        display: block;
    }
    .navber ul li{
        margin: 2rem 0;
    }
    .navber ul li{
        width:100%;
        padding:5px 15px;
        transition: 0.5s ease 0s;
    }
    .navber ul li:hover{
        background-color: var(--background-sup);
        color: var(--white-color);
    }
    .navber ul li a{
        font-size: 1.3rem;
        color:var(--title-color);
    }
    .header-menus label{
        display: inherit;
        position: absolute;
        right:130px;
    }
    #toggle:checked ~ .navber{
        display: inherit;
    }
    
    .header-betw-header{
        margin-top: 20px;
    }
    .btn{
        padding:5px 5px;
        font-size: 0.5rem;
        font-weight:600;
    }
    .header label{
        font-size: 1rem;
        font-weight: 600;
    }
    nav .logo img{
        width:45px;
        margin-right:4rem;
    }
}

/* header-betw-header */
.header-betw-header{
    position:relative;
    top:340px;
}
.header-betw-cards{
    width:60%;
    height:100%;
    padding:30px 10px;
    margin: 0 auto;
    gap:20px;
    border-radius: 2px;
    background-color:var(--white-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    flex-direction: row;
    box-shadow: 0px 0px 2px 1px var(--background-behind);
}
.header-betw-cols{
    border-left: 1px solid var(--dark-color);
    padding-left:1rem;
}
.betw-icons-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.betw-icons-title h4{
    font-size: 1rem;
    font-weight:500;
    color: var(--dark-color);
    opacity: 0.8;
}
.betw-icons-title i{
    font-size: 1.5rem;
    align-items: center;
    color: var(--title-color);
}
.header-betw-cards .primary-btn:hover{
    color: var(--title-color);
}
@media only screen and (max-width:768px) {

    .header-betw-cards{
        width:100%;
        height:100%;
        padding:30px 10px;
        gap:10px;
        flex-wrap: wrap;
    }
    .betw-icons-title h4{
        font-size: 0.5rem;
    }
    .betw-icons-title i{
        font-size: 0.5rem;
        align-items: center;
        color: var(--title-color);
    }
}
/* End-header-betw-header */

/* End header */

/* footer-Num-address */
.footer-Num-address{
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 0 2px 1px var(--primary-color);
}
.num-flex{
    display: flex;
    align-items: center;
    padding:20px 10px;
}
.num-flex i{
    font-size: 2.5rem;
    align-items: center;
    margin-right: 15px;
    color:var(--primary-color);
}
.num-text h4{
    font-size: 1rem;
    font-weight: 700;
    color: var(--title-color);
}
.num-text p{
    opacity: 0.7;
    font-size: 1rem;
}
/* End footer-Num-address */

/* footer */
.footer__wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap:20px;
    margin-bottom: 2.3rem;
}
.cols{
    width:350px;
}
.img-text-footer img{
    width:70px;
}
.img-text-footer p{
    font-size: 0.5rem;
    width:250px;
    color: var(--title-color);
    margin: 1.5rem 0;
    line-height: 3em;
}
.img-text-footer .icons-footer i{
    font-size: 1.5rem;
    margin: 0 3px;
    color: var(--primary-color);
}
.cols h3{
    font-size:1.8rem;
    color: var(--primary-color);
    margin-bottom: 1.9rem;
}
.cols ul li{
    margin-bottom: 1rem;
    color: var(--title-color);
}
.cols ul li a{
    color: var(--title-color);
    transition: 0.5s ease 0s;
}
.cols ul li a:hover{
    color: var(--primary-color);
}
.footer-rows{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-rows ul li {
    border-bottom: 2px solid var(--primary-color);
}
.footers{
    border-radius: 2px;
    padding:60px 20px 10px;
    box-shadow: 0 0 5px 1px var(--primary-color) inset;
}

/* footer-sub */
.footer-sub{
    padding:20px 30px;
    border-top: 1px solid var(--primary-background);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    gap:10px;
}
.sub-text{
    display: flex;
    align-items: center;
}
.sub-text P{
    opacity: 0.7;
    font-size: 1rem;
}
.sub-text a{
    color:var(--title-color);
}
/* End footer-sub */

@media only screen and (max-width:768px) {
    .footer__wrapper{
        flex-direction:column;
    }
    .footer-rows{
        display: block;
        justify-content: flex-start;
    }
    .footer-rows ul li {
        border-bottom: 2px solid var(--primary-color);
        width: 200px;
    }
}
/* End footer */

/* section-header-health */
.section-header-wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:20px;
    backdrop-filter: blur(20px);
    padding:10px;
}
.section-header-cols{
    width:400px;
}
#section-header-health{
    background-image: linear-gradient(-120deg, #0868886f, rgba(255, 255, 255, 0.884)), url(/src/assest/image/dental-behind.jpg); background-position: center; background-size: cover;
    background-attachment: fixed;
}
#section-header-health h1{
    text-align: center;
    margin-bottom: 2rem;
    color: var(--primary-color);
    letter-spacing: 0.2rem;
}
.section-title-text h2{
    font-size: 2.5rem;
    color: var(--title-color);
}
.section-title-text p{
    color: var(--dark-color);
    opacity: 0.7;
    margin:2rem 0;
}
.header-image img{
    width:100%;
    height:350px;
    border-radius: 2px;
}
.section-header-wrapper .primary-btn:hover{
    color:var(--title-color);
}
@media only screen and (max-width:768px){
    #section-header-health h1{
        margin-top: 7rem;
        font-size: 2.1rem;
    }
    .section-title-text h2{
        font-size: 1.8rem;
        color: var(--title-color);
    }
}
/* End section-header-health */

/* End header and footer */

/* section-dental-sevice */
.section-dental-wrapper{
    display:flex;
    justify-content: center;
    flex-direction: row;
    gap:10px;
    z-index: 1000;
}
.section-dental-sevice{
    position:relative;
    width:100%;
    height:100%;
    background:linear-gradient( to top, #06afd51b, white);
}
.section-dental-sevice h2{
    font-size: 3rem;
    text-align: center;
    letter-spacing: 1.5em;
    margin-top: 1rem;
    color: var(--primary-color);
    opacity: 0.2;
    animation: dentals 2s;
    animation-iteration-count:calc(2);
}
@keyframes dentals{
    100%{
        transform: translateY(50%);
    }
    50%{
        transform: translateY(-30%);
    }
}
.section-service-behind{
    position: absolute;
    width:100%;
    height:100%;
    background-image: url(/src/assest/image/Teeth-behind2.png); background-repeat: no-repeat; background-position: center;
    background-size: 250px;
    opacity: 0.1;
    top:20px;
    left: 50px;
}
.section-service-cols{
    position: relative;
    width:450px;
    z-index: 1000;
}
.Service-img-flex{
    width:360px;
}
.Service-img-flex img{
    width:100%;
    height:100%;
    border-radius: 2px;
}
.Service-text-flex h1{
    font-size: 2.5rem;
    color:var(--primary-color);
    border-bottom: 5px solid var(--primary-background);
    width:250px;
    padding:0 0 10px 0;
}
.Service-text-flex h6{
    font-size: 1rem;
    font-weight:450;
    color: var(--dark-color);
    margin:3rem 0;
    line-height: 1.5em;
}
.Service-text-flex h6::first-line{
    color: var(--title-color);
    font-size: 1.3rem;
}
.Service-text-flex p{
    font-size: 0.5rem;
    margin:3rem 0;
    opacity: 0.7;
}
.section-dental-wrapper .primary-btn:hover{
    color:var(--title-color);
}
@media only screen and (max-width:768px){
    .section-dental-wrapper{
        flex-wrap: wrap;
    }
    .section-service-cols{
        width:500px;
    }
    .Service-img-flex{
        width:330px;
    }
    .Service-text-flex{
        text-align: center;
    }
    .Service-text-flex h1{
        text-align: center;
        border-bottom: 5px solid var(--primary-background);
        width:100%;
    }
    .section-dental-sevice h2{
        font-size: 2rem;
        text-align: center;
        letter-spacing: 0.7em;
    }
}
/* End section-dental-sevice */

/* section-Comprehensive-dental */
.section-Comprehensive{
    background-color: var(--white-color);
    padding:50px 20px;
}
.section-Comprehensive h1{
    text-align: center;
    color: var(--primary-color);
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
}
.section-Comprehensive-wrapper{
    display: flex;
    gap:20px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.section-Comprehensive-cols{
    width:300px;
}
.section-Comprehensive-cards{
    padding:25px 15px;
    border-radius: 20px 20px 0 0;
    transition: 0.5s ease 0s;
    animation:secards 2s ease 0s;
}
.section-Comprehensive-cards:hover{
    background-color:var(--white-color);
    box-shadow: 0 0 10px 2px var(--primary-color);
    margin-top: 10px;
}
@keyframes secards{
    100%{
        transform: translateY(5%);
    }
    50%{
        transform: translateY(-5%);
    }
}
.img-Comprehensive img{
    max-width:100%;
    height:260px;
    border-radius: 20px 20px 0 0;
}
.text-Comprehensive h4{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: var(--title-color);
}
.text-Comprehensive p{
    font-size: 0.5rem;
    color:var(--primary-color);
    opacity: 0.9;
    margin-bottom: 2rem;
}
@media only screen and (max-width:768px) {
    .text-Comprehensive .button-btn{
        width:300px;
    }
}
/* End section-Comprehensive-dental */

/* feature-dental-change */
.feature-dental-wrapper{
    display: flex;
    justify-content: center;
    gap:15px;
    flex-wrap: wrap;
}
.feature-dental-cols{
    width:450px;
}
.dental-icons-text{
    border: 2px solid var(--background-body);
    padding:37px 20px;
    border-radius: 0 30px 0 30px;
    background-image: linear-gradient( 120deg, rgba(0, 0, 255, 0.139),rgba(255, 255, 255, 0.392));
    backdrop-filter: blur(100px);
}
.dental-icons-text h2{
    font-size: 3.2rem;
    font-weight: 700;
    color:var(--white-color);
    border-bottom: 3px dotted white;
    border-radius: 45px;
}
.dental-icons-text p{
    font-size: 1rem;
    color: var(--white-color);
    width:380px;
    line-height:1.7em;
    margin:3rem 0;
}
.dental-icons-text img{
    width:150px;
}
.feature-dental{
    background-color: var(--primary-color);
    padding:60px 10px;
    text-align: center;
}
.feature-dental h2{
    margin-bottom: 2rem;
    color:var(--background-body);
}
.dental-icons-Treatment{
    background-color: var(--background-body);
    padding:64px 50px;
    border-radius: 30px 0 30px 0;
    background-image: linear-gradient(to top, rgba(0, 0, 255, 0.111),rgba(0, 0, 0, 0));
}
.dental-icons-Treatment h2{
    font-size: 2rem;
    color: var(--title-color);
    margin-top: 1rem;
}
.dental-icons-Treatment i{
    font-size: 2.5rem;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    padding:10px;
    border-radius: 10px;
}
.dental-icons-Treatment h6{
    font-size: 1.2rem;
    color: var(--primary-color);
    margin:1rem 0;
}
.dental-icons-Treatment p{
    font-size: 1rem;
    color: var(--title-color);
}
.section-Comprehensive-wrapper .primary-btn:hover{
    color:var(--title-color);
}
@media only screen and (max-width:900px){
    .feature-dental-cols{
        width:700px;
    }
    .dental-icons-text p{
        width:90%;
        margin: 0 auto;
    }
    .dental-icons-text img{
        width:120px;
        margin-top: 2rem;
    }
}
@media only screen and (max-width:768px) {
    .dental-icons-text h2{
        font-size: 2rem;
    }
    .dental-icons-text img{
        width:100px;
        margin-top: 2rem;
    }
    .feature-dental h2{
        margin-bottom: 2rem;
        font-size: 2.5rem;
    }
}
/* End feature-dental-change */

/* section-Brighten-dental */
.section-Brighten{
    background-color: var(--white-color);
    padding:25px 0;
}
.section-Brighten-wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.section-Brighten-cols{
    width:400px;
}
.section-Brighten-content h6{
    font-size: 1rem;
    font-weight: 500;
    color: var(--primary-color);
}
.section-Brighten-content h1{
    font-size: 2rem;
    color:var(--title-color);
    font-weight: 600;
    margin: 1.5rem 0;
}
.section-Brighten-content p{
    color:var(--dark-color);
    opacity: 0.8;
    margin-bottom: 2rem;
}
.section-Brighten-img img{
    width:90%;
    height:570px;
    border-radius: 12px;
}
.section-Brighten-wrapper .primary-btn:hover{
    color:var(--title-color);
}
@media only screen and (max-width:768px) {
    .section-Brighten-content{
        text-align: center;
    }
    .section-Brighten-content .primary-btn{
        max-width:300px;
    }
}
/* End section-Brighten-dental */
/* section-book-dental */
.section-book-behind-b{
    width:100%;
    height:250px;
    background-image: linear-gradient(to bottom,#a1a1a1af,#0b192c74 ),url(/src/assest/image/dental.jpg); background-position: center; background-size: cover;
    background-attachment: fixed;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section-book-text-button{
    border: 1px solid var(--background-sup);
    padding:50px;
    border-radius: 2px;
    text-align: center;
    background-color: #06afd510;
}
.section-book-text-button h1{
    text-align: center;
    margin-bottom: 1.5rem;
    color:var(--background-body);
}
/* End section-book-dental */

/* header-abouts */
.header-abouts-contents{
    background-image: linear-gradient(90deg, #08688814,#a1a1a150 );
    padding:30px 10px;
}
.header-abouts-wrapper{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin-top: 5rem;
}
.title-text{
    width:800px;
    text-align: center;
}
.title-text h1{
    font-size: 3rem;
    color:var(--title-color);
}
.title-text h6{
    font-size: 1rem;
    font-weight: 700;
    color: var(--primary-color);
    margin: 1rem 0;
}
.title-text ul li{
    color: var(--title-color);
    margin:1rem 0;
}
.text-rotato{
    writing-mode: vertical-lr;
    text-align: center;
    letter-spacing: 0.4em;
    animation: rotato 0.5s ease 0s;
    background-color: var(--background-body);
    padding:10px;
}
.text-rotato h5{
    color: var(--title-color);
}
@keyframes rotato{
    to {
        transform: translateX(-100%);
        scale: 1.1;
    }
    form {
        transform: translateX(100%);
    }
}
@media only screen and (max-width:768px) {
    .title-text h1{
        font-size: 2.5rem;
        color:var(--title-color);
    }
}
/* End header-abouts */

/* header-abouts-icons-content */
.about-icons-wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:10px;
}
.about-icons-cols{
    width:450px;
}

.about-icons-cards{
    width:100%;
    backdrop-filter: blur(400px);
    background-color:#06afd519;
    display: flex;
    padding:20px;
    border-radius: 2px;
}
.about-icons-img img{
    width:100px;
    margin-right:25px;
}
.about-icons-img p{
    max-width:400px;
}
@media only screen and (max-width:910px) {
    .about-icons-cards{
        display: block;
        padding:20px;
        text-align: center;
    }
    .about-icons-cols{
        width:90%;
    }
    .about-icons-img img{
        margin-bottom: 1.5rem;
    }
}
/* End header-abouts-icons-content */

/* about-dental-clean */
.about-clean-wrapper{
    display:flex;
    justify-content:center;
    flex-direction: row;
    align-items: center;
    gap:10px;
}
.about-clean-cols{
    width:550px;
}
.about-clean-cols h1{
    font-size: 4rem;
    font-weight: 600;
    color: var(--title-color);
}
.about-clean-cols img{
    max-width:100%;
    height:540px;
    border-radius: 10px;
}
.about-clean-cards{
    margin: 1rem 0;
}
.about-four-cards{
    border: 1px solid var(--primary-color);
    padding:30px;
    max-width:450px;
    background-image: linear-gradient(360deg, white, rgba(0, 0, 0, 0.039));
}
.about-four-cards h6{
    font-size: 2rem;
    font-weight: 400;
    color: var(--primary-color);
    margin-bottom: 1rem;
}
.about-four-cards p{
    font-weight: 300;
}
@media only screen and (max-width:768px) {
    .about-clean-wrapper{
        flex-direction:row-reverse;
        flex-wrap:wrap;
        justify-content: center;
    }
    .about-four-cards{
        max-width:550px;
        text-align: center;
    }
    .about-clean-cols h1{
        text-align: center;
    }
}
/* End about-dental-clean */

/* about-dental-data */
.about-data-wrapper{
    display: flex;
    justify-content:space-around;
    gap:10px;
}
.about-data-cols{
    width:550px;
}
.about-data-img img{
    width:100%;
    border-radius: 2px;
    box-shadow: 0 0 2px 1px var(--primary-color);
}
.about-data-img{
    outline: 1px solid var(--primary-background);
    padding:20px;
    border-radius: 2px;
}
.about-data-cols h1{
    font-size: 3rem;
    margin-bottom: 1.5rem;
    color: var(--primary-color);
}
.about-data-cols p{
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    color:var(--title-color);
}
.about-data-container{
    width:100%;
    background-color: var(--white-color);
    margin-bottom: 1rem;
    border-radius: 2px;
    box-shadow: 0 0 1px 1px var(--primary-color);
}
.check{
    color: var(--background-body);
    text-align: right;
    border-radius: 2px;
}
.dental, .managing, .Caries, .dental-p{
    background-color: #086788;
}
.dental{
    width:90%;
}
.managing{
    width:80%;
}
.Caries{
    width:70%;
}
.dental-p{
    width:60%;
}
@media only screen and (max-width:768px) {
    .about-data-wrapper{
        flex-wrap: wrap;
    }
}
/* End about-dental-data */


/* section-teams-dental */
.section-teams{
    background-color: var(--white-color);
    padding:50px 0;
    background-image: linear-gradient(to right, rgba(0, 0, 255, 0.117), rgba(0, 0, 0, 0.058));
}
.section-teams-wrapper{
    display: flex;
    justify-content: center;
    gap:10px;
    align-items: center;
}
.section-teams-cols{
    width:500px;
}
.section-left-img img{
    border-radius: 2px;
    box-shadow: 0 0 1px 1px var(--backgorund);
}
.section-right-contents h6{
    font-size: 1rem;
    font-weight: 500;
}
.section-right-contents a{
    color: var(--primary-color);
}
.section-right-contents h2{
    font-size: 1.5rem;
    margin: 1rem 0;
    color:var(--title-color);
}
.section-right-contents p{
    color: var(--title-color);
    opacity: 0.9;
}
.section-right-img{
    display: flex;
}
.section-right-img img{
    width:50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--title-color);
    padding:3px;
    margin:1rem 5px;
}
.section-right-google{
    position: relative;
}
.section-right-google ::placeholder{
    font-size: 1.1rem;
}
.right-google{
    position: relative;
}
.right-button{
    position: absolute;
    right:0;
    top:-11px;
}
.right-button input[type="submit"] {
    border: 1px solid var(--title-color);
    color:var(--title-color);
    padding:10px;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.5s ease 0s;
}
.right-button input[type="submit"]:hover {
    box-shadow: 0 0 1px 1px var(--primary-color);
}
@media only screen and (max-width:768px) {
    .section-teams-wrapper{
        flex-wrap: wrap;
        margin-top: 4rem;
    }
}
/* end section-teams-dental */

/* section-teams-Founders */
.section-founds-wrapper{
    display:flex;
    justify-content: center;
    gap:20px;
}
.section-founds-cols{
    width:420px;
}
.section-founds-cols h1{
    font-size: 2rem;
    color: var(--title-color);
    font-weight: 500;
}
.section-founds-mans h5{
    font-size: 1rem;
    color: var(--primary-color);
    margin: 1rem 0;
    border-left: 2px solid var(--primary-color);
    padding:0 1rem;
}
.section-founds-mans P{
    font-size: 0.5rem;
    padding:0 1rem;
    margin-bottom: 1rem;
}
.section-founds-img img{
    border-radius: 2px;
}
.section-founds-mans a{
    margin:1rem;
}
#section-teams-women{
    background-color: var(--white-color);
}
@media only screen and (max-width:768px) {
    .section-founds-wrapper{
        flex-wrap: wrap;
    }
}
/* End section-teams-Founders */

/* section-horizonial-directors */
#section-horizonial-directors h1{
    text-align: center;
    font-size: 2rem;
    color:var(--title-color);
}
.horizonial-directors {
    text-align: center;
    margin: 1rem 0 3rem 0;
}
.section-directos-wrapper{
    display:flex;
    width:80%;
    margin:0 auto;
    justify-content: center;
    flex-wrap: wrap;
    gap:20px;
}
.section-directos-cards{
    position: relative;
    width:300px;
    height: 400px;
    background-color:var(--white-color);
    overflow: hidden;
    border-radius:10px 10px 0 0;
    box-shadow: 0 0 2px 1px var(--primary-background);
    transition: 0.5s ease 0s;
}
.section-directos-cards:hover{
    bottom:4px;
}
.directors-img img{
    width:100%;
    height: 230px;
    border-radius: 10px;
}
.directors-text {
    padding:5px 10px;
}
.section-directos-cards::before{
    content: '';
    position: absolute;
    width:90%;
    height:3px;
    bottom: 0;
    background-color: var(--primary-color);
    transition: 0.5s ease 0s;
}
.section-directos-cards:hover::before{
    width:0;
}
.directors-text h4{
    font-size: 1.5rem;
    color: var(--title-color);
}
.directors-text h6{
    font-size: 1rem;
    color: var(--primary-color);
    margin:0.5rem 0;
}
.directors-text p{
    color: var(--title-color);
}
@media only screen and (max-width:775px) {
    .section-directos-wrapper{
        width:90%;
    }
}
/* End section-horizonial-directors */

/* section-smile */
.section-smile{
    position: relative;
    width:90%;
    height:500px;
    margin:0 auto;
    background-image: linear-gradient(to bottom, rgba(181, 181, 184, 0.208), rgba(0, 0, 0, 0.778)),url(/src/assest/image/brush\ smail.jpg); background-position: center; background-size: cover;
    background-attachment: fixed;
}
.smile-content-cards{
    position: absolute;
    width:500px;
    height:300px;
    background-color:var(--white-color);
    padding:30px;
    right:20px;
    border-radius: 0 150px 0 150px;
    box-shadow: 0 0 7px 1px var(--primary-color);
}
.smile-content-cards h2{
    font-size: 2.5rem;
    font-weight: 600;
    color:var(--title-color);
}
.smile-content-cards p{
    color:var(--primary-color);
    margin:1.2rem 0;
}
.smile-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.smile-cards i{
    font-size: 1rem;
    padding:0.6rem;
}
@media only screen and (max-width:768px) {
    .smile-content-cards{
        width:250px;
        height:280px;
        background-color:var(--white-color);
        padding:20px;
        border-radius: 0 90px 0 90px;
        position: absolute;
        left:50%;
        top:50%;
        transform: translate(-50%, -50%);
    }
    .smile-content-cards h2{
        font-size: 2rem;
    }
    .smile-content-cards p{
        margin:1rem 0;
        font-weight: 400;
    }
}
/* End section-smile */

/* section-status-select */
.section-status{
    width:70%;
    height:150px;
    margin:0 auto;
    background-image: linear-gradient(200deg, rgba(83, 186, 255, 0.582),rgba(255, 255, 255, 0.879));
    backdrop-filter: blur(300px);
    border: 1px solid var(--primary-background);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 0 10px 2px var(--backgorund);
}
.status-flex{
    display: flex;
    color: var(--backgorund);
    font-weight:600;
    font-size: 1.4rem;
}
.section-status-group{
    margin: 0 1rem;
}
.section-status-group #status{
    width:300px;
    border-radius: 2px;
    padding:0.3rem 0;
    margin:0.6rem 0;
    background-color: var(--white-color);
    border: none;
    outline: none;
    border-bottom: 2px solid var(--backgorund);
}
#status option{
    color: var(--title-color);
}
@media only screen and (max-width:768px) {
    .status-flex{
        font-weight:500;
        font-size: 1rem;
    }
    .section-status-group #status{
        width:100%;
        padding:0.2rem 0;
    }
}
/* End section-status-select */

/* header-service */
.header-service-wrapper{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    gap:20px;
    flex-wrap: wrap;
    align-items: center;
}
.header-service-cols{
    width:490px;
}
.header-service-card{
    position: relative;
    background-image: linear-gradient(120deg, white 45%, #87bfd276 20%);
    padding:10px;
    box-shadow: 0 0 1px 1px var(--title-color);
}
.Service-img{
    position: relative;
}
.Service-img img{
    border-radius: 2px;
    width:100%;
}
.Service-img-1{
    width:150px;
}
.Service-img-1 img{
    width:100%;
    border-radius: 2px;
    box-shadow: 0 0 1px 1px var(--backgorund);
}
.detnal-1{
    position: absolute;
    top:-30px;
    left:-40px;
}
.detnal-2{
    position: absolute;
    bottom:-30px;
    right:-40px;
}
.header-service-text h2{
    font-size: 2rem;
    color:var(--title-color);
    border-bottom: 3px solid var(--title-color);
    width:300px;
}
.header-service-text p{
    margin:2rem 0;
    color:var(--dark-color);
    opacity: 0.7;
}
.header-service-text .primary-btn{
    display: inline-block;
    cursor: pointer;
}
@media only screen and (max-width:768px) {
    .header-service-text{
        text-align:center;
    }
    .header-service-cols{
        width:500px;
    }
    .header-service-text h2{
        width:100%;
    }
}
/* End header-service */

/* serivce-three */
.serivce-three h2{
    text-align: center;
    color:var(--title-color);
    margin-bottom: 2.5rem;
}
.service-three-wrapper{
    display: flex;
    justify-content: center;
    gap:10px;
}
.service-three-cols{
    width:380px;
}
.service-three-cols span{
    opacity: 0;
    transition: 0.5s ease 0s;
    color:var(--white-color);
    font-weight: 500;
}
.service-three-cols:hover span{
    opacity: 1;
}
.service-image{
    position: relative;
}
.service-image img{
    width:100%;
    border-radius: 2px;
}
.service-content{
    background-color: var(--primary-background);
    padding:10px;
    margin:0.5rem 0;
}
.service-content h3{
    font-size: 2rem;
    color:var(--white-color);
}
.service-content p{
    color: var(--white-color);
    opacity: 0.6;
    border-bottom: 1px solid var(--white-color);
    border-left: 1px solid var(--white-color);
    padding:2px 2px;
    border-radius: 5px;
}
@media only screen and (max-width:768px) {
    .service-three-wrapper{
        flex-wrap: wrap;
        gap:30px;
    }
    .service-three-cols{
        width:580px;
    }
}
/* End serivce-three */

/* Service-Feature */
#Service-Feature{
    width:80%;
    margin: 0 auto;
    background-color: var(--primary-color);
    border-radius: 2px;
}
.Service-Feature-text-img{
    padding:0 30px;
    text-align: center;
}
.Service-Feature-text-img h2{
    font-size: 2.5rem;
    color: var(--white-color);
    margin-bottom: 2rem;
}
.Service-Feature-text-img  p{
    font-size: 0.5rem;
    color: var(--white-color);
    opacity: 0.8;
    max-width:750px;
    margin: 0 auto;
    margin:2rem 5rem;
}
.Service-Feature-img{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:20px;
}
.Service-Feature-img img{
    max-width:150px;
    border-radius: 2px;
    box-shadow: 0 0 2px 2px var(--white-color);
}
.Service-Feature-text-img .primary-btn{
    display: inline-flex;
    margin-top:1rem;
    cursor:pointer;
}
.Service-Feature-text-img .primary-btn:hover{
    color: var(--white-color);
    border: 2px solid white;
    box-shadow: 0 0 5px 1px var(--primary-background);
}
@media only screen and (max-width:768px) {

.Service-Feature-text-img  p{
    margin:2rem 0rem;
}
}
/* End Service-Feature */

/* Service-feature-machine */
.feature-machine{
    width:100%;
    height:100%;
    background-image: linear-gradient(to right, rgba(0, 0, 255, 0.429), rgba(0, 0, 0, 0.706)), url(/src/assest/image/service-dental1.jpg); 
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding:50px 0;
}
.feature-machine-wrapper{
    display: flex;
    justify-content: center;
    gap:20px;
}
.feature-machine-cols{
    width: 400px;
    backdrop-filter: blur(100px);
    padding:10px;
    background-color: #0d0c0c2b;
}
.feature-machine-img img{
    width:100%;
    border-radius: 2px;
}
.feature-machine-content{
    text-align: center;
}
.feature-machine-content h1{
    font-size: 2rem;
    color:var(--white-color);
    margin-top: 2rem;
}
.feature-machine-content p{
    color: var(--white-color);
    opacity: 0.7;
    margin:1.5rem 0;
}
.feature-machine-content .primary-btn{
    display: inline-flex;
    cursor:pointer;
}
.feature-machine-content .primary-btn:hover{
    color:var(--white-color);
    border:2px solid var(--white-color);
}
@media only screen and (max-width:768px) {
    .feature-machine-wrapper{
        flex-wrap: wrap;
    }
    .feature-machine-cols{
        width: 600px;
        padding:15px;
    }
}
/* End Service-feature-machine */








/* Contact */
/* Contact-image */

.contact-wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:20px;
}
.contact-cols{
    width:450px;
}
.contact-img-text{
    position: relative;
    width:100%;
}
.contact-img {
    opacity: 0.7;
    transition: 0.5s ease 0s;
}
.contact-img:hover{
    opacity: 1;
}
.contact-img img{
    width:100%;
    height: 350px;
    border-radius: 2px;
}
span{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: var(--title-color);
    padding:20px;
    transition: 0.5s ease 0s;
    outline: 2px solid var(--background-sup);
    outline-offset: 30px;
}
.contact-img-text:hover span{
    opacity: 0;
}
.contact-text h4{
    font-size: 2rem;
    color: var(--white-color);
}
.contact-text p{
    opacity: 0.7;
    color: var(--white-color);
}
form{
    width:100%;
    display: flex;
    flex-direction: column;
}
form label{
    font-size: 1rem;
    font-weight: 500;
    color: var(--title-color);
}
form input{
    width:100%;
    padding:5px 0;
    border-radius: 2px;
    border:none;
    border-bottom: 1px solid var(--title-color);
    outline: none;
    background: transparent;
    margin:5px 0;
}
::placeholder{
    color:var(--primary-color);
}
form .button-btn{
    margin-top:2rem;
}
form .button-btn .btn:hover{
    color: var(--title-color);
    border: 1px solid var(--primary-background);
}
/* End Contact-image */
/* End Contact */