:root{
  /* -----font weight ---- */
  --pmo-weight-900:900;
  --pmo-weight-700:700;
  --pmo-weight-600:600;
  --pmo-weight-500:500;
  --pmo-weight-400:400;

  /* -----font size ---- */

  --font-size-48-h2: 48px;
  --font-size-18-inter: 18px;
  --font-size-24-inter: 24px;
  --font-size-16-h6: 16px;
  --font-size-40-h3: 40px;

  /* ---- color ---- */

  --color-heading: #0D2159;
  --color-small: #536D97;
}

/* ------ short ----- */

.wid-auto {
  width: 100%;
  margin: 0 auto;
}

.text-align {
  text-align: center;
}

.color-blue {
  color: var(--color-heading);
}

.color-small {
  color: var(--color-small);
}

.weight-600 {
  font-weight: var(--pmo-weight-600);
}

.size-48 {
  font-size: var(--font-size-48-h2);
}

.all-flex{
  display: flex;
  flex-wrap: wrap;
}

/* --------- contact -------- */

.contact-container {
  background-color: white;
  height: 1080px;
}

.contact-container .contact-width-500 {
  max-width: 596px;
}

.contact-width-500 .contact-404-page {
  margin-top: 70px;
}

.contact-404-page h1 {
  font-weight: var(--pmo-weight-600);
}

.contact-404-page h5 {
  font-size: var(--font-size-18-inter);
  font-weight: var(--pmo-weight-400);
  color: var(--color-small);
  margin-bottom: 30px;
  padding-right: 30px;
  line-height: 26px;
}

.contact-404-page button {
  font-size: var(--font-size-18-inter);
  font-weight: var(--pmo-weight-600);
  padding: 17px 32px;
  border-radius: 4px;
  color: white;
}

.contact-404-page button i {
  margin-right: 10px;
}