@import url('https://fonts.googleapis.com/css2?family=Anta&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Great+Vibes&family=Hind:wght@300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mrs+Saint+Delafield&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    height: 100vh;
    width: 100%;
    line-height: 1.5;
}

.container {
    height: 700px;
    width: 100%;
    background-image: url(../../../public/Images/solen-feyissa-mO-_iF_FkCk-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    position: relative;
}

.box-one {
    max-width: 1200px;
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.one-content {
    max-width: 450px;
    width: 100%;
    margin-top: 100px;
}

.one-content h1 {
    font-size: 4.5rem;
    font-weight: 900;
    color: #fff;
    font-family: Nunito Sans;
    line-height: 0.85;
}

.one-content span {
    color: rgb(6, 156, 138);
     font-family: Nunito Sans;
}

.one-content h4 {
    font-size: 1.8rem;
    font-weight: 900;
    color: #fff;
    font-family: Nunito Sans;
}

.one-content h5 {
    font-size: 0.95rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 30px;
}

.one-content p {
    font-size: 0.95rem;
    font-weight: 500;
    font-family: Nunito Sans;
    color: #fff;
    margin-bottom: 30px;
}

.button-now {
    border: none;
    outline: none;
    border: 2px solid #fff;
    padding: 8px 00;
    width: 180px;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: Nunito Sans;
    color: #fff;
    transition: 0.15s ease;
}

.button-now:hover {
    background-color: #fff;
    color: black;
}

.text-off {
    max-width: 300px;
    width: 100%;
    margin-right: 8%;
    margin-top: -18%;
}

.text-off h1 {
    font-size: 5.5rem;
    font-weight: 900;
    color: #fff;
    font-family: Nunito Sans;
}

.text-off h4 {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    font-family: Nunito Sans;
    line-height: 0.20;
}

.media-one {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 25px;
    bottom: 35px;

}

.media-one img {
    width: 20px;
    margin: 15px 00;
}

@media(max-width: 768px) {
    .container {
        height: 750px;
        width: 100%;
    }

    .one-content {
        width: 60%;
        position: absolute;
        left: 40px;
        top: 48%;
        line-height: 1;
    }

    .one-content h1 {
        font-size: 2rem;
    }

    .one-content h4 {
        font-size: 1rem;
    }

    .one-content h5 {
        font-size: 0.95rem;
    }

    .one-content p {
        font-size: 0.75rem;
    }

    .button-now {
        font-size: 0.75rem;
        padding: 5px 00;
        width: 130px;
    }

    .text-off {
        position: absolute;
        left: 65%;
        top: 30%;
    }

    .text-off h1 {
        font-size: 2.8rem;
    }

    .text-off h4 {
        font-size: 1.4rem;
    }

}

.container-two {
    height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
}

.box-two {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    height: 500px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.picture-two {
    display: flex;
    gap: 20px;
    padding-top: 2rem;
}

.two-picture img {
    object-fit: cover;
    height: 200px;
    width: 200px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.shoes-two img {
    object-fit: cover;
    object-position: center;
    height: 420px;
    width: 300px;
    border-radius: 20px;
}

.text-two {
    max-width: 450px;
    width: 100%;
    margin-right: 3rem;
}

.text-two h5 {
    font-size: 1.rem;
    font-weight: 600;
    color: #131010;
    font-family: Roboto;
}

.text-two h1 {
    font-size: 2rem;
    font-weight: 600;
    color: #131010;
    font-family: Roboto;
    margin-bottom: 20px;
}

.text-two p {
    font-size: 0.95rem;
    font-weight: 400;
    color: #131010;
    font-family: Roboto;
    margin-bottom: 25px;
}

.button-iconssss {
    border: none;
    outline: none;
    background-color: black;
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    width: 150px;
    text-align: center;
    cursor: pointer;
    padding: 12px 00;
    font-family: Roboto;
    transition: 0.15s ease;
}

.button-iconssss:hover {
    color: #131010;
    background-color: #cdcbcb;
}

@media(max-width: 768px) {
    .container-two {
        height: 600px;
        width: 100%;
    }

    .box-two {
        display: flex;
        flex-direction: column;
    }

    .picture-two {
        justify-content: center;
    }

    .two-picture img {
        height: 150px;
        width: 150px;
    }

    .shoes-two img {
        height: 320px;
        width: 200px;
    }

    .text-two {
        text-align: center;
        margin: 0 auto;
    }

    .button-iconssss {
        margin: 0 auto;
        font-size: 0.95rem;
        width: 130px;
        padding: 10px 00;
    }

    .text-two h5 {
        font-size: 1rem;
    }

    .text-two h1 {
        font-size: 1.8rem;
    }

    .text-two p {
        font-size: 0.80rem;
    }
}

.header-main {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    /* border: 1px solid red; */
}

.container-header {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.container-header h1 {
    font-size: 2.5rem;
    font-weight: 700;
    font-family: Roboto;
}

.container-header span {
    color: orangered;
    font-family: Roboto;
}

.header-gird {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3.5;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.gird-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3.5rem;
    margin: 0 auto;
}

.card-vm {
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    border: 1px solid #e0dddd;
    padding: 1.5rem 1.5rem;
}

.around-card {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-image: linear-gradient( 125deg, rgb(160, 252, 121), rgb(247, 243, 252));
    margin-bottom: 22px;
}

.around-card img {
    width: 350px;
    rotate: 8deg;
    overflow: hidden;
}

.card-body h5 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #131010;
    font-family: Roboto;
}

.card-body h6 {
    font-size: 1.2rem;
    font-weight: 600;
    color: orange;
    font-family: Roboto;
}

@media(max-width: 768px) {

    .header-main {
        padding-top: 10rem;
    }

    .container-header {
        text-align: center;
    }

    .container-header h1 {
        font-size: 1.8rem;
    }

    .gird-header {
        display: block;
    }

    .card-vm {
        padding: 2.5rem 2rem;
        margin-bottom: 30px;
    }

    .around-card {
        height: 200px;
        width: 200px;
        margin: 0 auto;
    }

    .around-card img {
        width: 230px;
    }
}

.container-four {
    display: flex;
    align-items: center;
    height: 630px;
    width: 100%;
    /* border: 1px solid red; */
}

.four-trending {
    margin: 0 auto;
    /* padding-top: 3rem;
    padding-bottom: 3rem; */
}

.text-contentt h1 {
    /* font-size: 2.5rem; */
    font-weight: 700;
    color: #131010;
    font-family: Roboto;
}

.box-four {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    /* border: 1px solid red; */
}

.picture-four {
    position: relative;
}

.picture-four img {
    height: 400px;
    width: 550px;
    object-fit: cover;
}

.text-four {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.3);
    text-align: center;
    padding: 10px 00;
}

.text-four h1 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
}

@media(max-width: 768px) {

    .container-four {
        width: 100%;
        height: 450px;
    }

    .box-four {
        display: block;
        flex-direction: column;
    }

    .text-contentt {
        margin-bottom: 50px;
    }

    .text-contentt h1 {
        text-align: center;
        font-size: 1.8rem;
    }

    .picture-four {
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .picture-four img {
        height: 200px;
        width: 300px;
    }

}

.container-five {
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
}

.box-five {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1150px;
    width: 100%;
    height: 450px;
    margin: 0 auto;
    background-color: #14283c;
    /* background-image: linear-gradient(to right, #14283c, #377dac); */
    border-radius: 8px;
}

.img-bbox {
    position: relative;
    max-width: 400px;
    width: 100%;
    height: 320px;
    /* margin-left: 4rem; */
}

.img-bbox .img-1 {
    position: absolute;
    left: 30px;
    top: 0;
    width: 320px;
    rotate: 120deg;
}

.img-bbox .img-2 {
    position: absolute;
    left: -30px;
    top: -140px;
    width: 750px;
    rotate: -15deg;
}

.form-five {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 500px;
    /* margin-right: 4rem; */
}

.five-form {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.five-form h1 {
    font-size: 3rem;
    font-weight: 500;
    font-family: Roboto;
    color: #fff;
    margin-bottom: 25px;
}

.input-field {
    position: relative;
}

.input-field input {
    border: none;
    outline: none;
    background-color: #fff;
    width: 410px;
    height: 45px;
    cursor: pointer;
    margin: 0 auto;
    padding-left: 10px;
}

.input-field .telegram-icon {
    position: absolute;
    right: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    width: 38px;
    background-color: rgb(18, 100, 114);
}

.icon-telegram {
    width: 25px;
}

@media(max-width: 768px) {
    .container-five {
        height: 600px;
        width: 100%;
    }

    .box-five {
        height: 500px;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }

    .img-bbox {
        margin-left: 115px;
    }

    .img-bbox .img-1 {
        width: 210px;
    }

    .img-bbox .img-2 {
        width: 520px;
        position: absolute;
        top: -90px;
        left: -4px;
    }

    .five-form h1 {
        font-size: 2rem;
    }

    .input-field {
        display: block;
    }

}