
  .container{
    max-width:1500px;
    margin: 0 auto;
  }
  .container-1{
    max-width: 1500px;
    margin:0 auto;
  }
  .Head-width{
    position: relative;
  }

   .width-content-1 .Title-H1{
    font-size: 3.5rem;
    font-weight: 900;
    color:#0D2159;
    font-family: 'Satoshi', sans-serif;
  }
  .Text-P{
    font-family: 'Satoshi', sans-serif;
    font-size: 1.2rem;
    color:#274577;
  }

  .cards-icons{
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .cards-icons i{
    border:2px solid #FAD7D3;
    color:#FF5F49;
    font-size: 0.8rem;
    padding:10px;
    margin:0 0.7rem 0 0;
  }

  .Title-h5{
    color:#FF5F49;
    font-size: 0.8rem;
    font-weight: 500;
    font-family: 'Satoshi', sans-serif;
  }
  .Title-H3{
    color:#0D2159;
    font-weight: 900;
    font-size: 1.1rem;
    font-family: 'Satoshi', sans-serif;
  }
  .Text-P1{
    color:#536D97;
    font-weight: 500;
    font-size: 0.91rem;
    font-family: 'Satoshi', sans-serif;
  }

  button{
    background-color: #FF5F49;
    border: none;
    padding:10px 15px;
  }
  .Title-h6{
    font-size: 0.7rem;
    font-weight: 900;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Title-h6 i{
    font-size: 0.8rem;
    margin-left: 0.4rem;
    color: #FFFFFF;
  }
  .image-col-width{
    position: relative;
  }
  .image-col-width img{
    width:800px;
  }
  .width-content-1{
    position: absolute;
    width:420px;
    top:7rem;
  }
  .width-content-2{
    position: absolute;
    justify-content: end;
    width:350px;
    top:6rem;
    right:50px;
  }

  /* .width-funfact */
  .width-funfact{
    position: relative;
    border: 5px solid #fcb9b9;
    background-color: #ffffffeb;
    width:100%;
    height:200px;
    margin-top: -6rem;
    overflow: hidden;
  }
  .background-one{
    position: relative;
    width:45%;
    height:190px;
    background-color: #FF5F49;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .background-flex-num{
    position: relative;
    display: flex;
  }
  .back-Num{
    margin:2.5rem;
  }
  .Num-h3{
    font-size: 2.5rem;
    font-weight: 900;
    color:#FFFFFF;
    font-family: 'Satoshi', sans-serif;
    margin-bottom: 1rem;
    text-align: center;
  }
  .Num-p{
    font-size: 1.1rem;
    color:#FFFFFF;
    font-family: 'Satoshi', sans-serif;
    width:150px;
    text-align: center;
  }
  .background-found{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
  }
  .width-funfact{
    display: flex;
    /* flex-wrap: wrap; */
  }
  .Title-hr-flex{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Title-hr-flex .Hr-H5{
    font-size: 1.2rem;
    font-weight: 700;
    color: #0D2159;
    display: flex;
    align-items: center;
  }
  .Title-hr-flex .image-Hr{
    width:400px;
    margin-left: 20px;
    height: 10px;
  }
  .Hr-icons-flex{
    display: flex;
  }
  .Hr-icons-flex .image-Hr{
    width:50px;
    object-fit: cover;
    margin:10px 40px 10px 0px
  }
  @media (max-width:900px) {
    .width-funfact{
      flex-wrap: wrap;
    }
    .background-one{
      position: relative;
      width:100%;
      height:190px;
      background-color: #FF5F49;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  /* End .width-funfact */


  /* Customer-Testimonial */
  .Customer-Testimonial{
    margin: 12rem 0;
  }
  .Customer-flex{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
  }
  .Customer-Cards{
    width:1000px;
  }
  .cards-box{
    background-color:#FFFFFF;
    padding:50px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 100px -30px;
  }

  .Title-h5{
    font-weight: 700;
    font-family: 'Satoshi', sans-serif;
  }
  .Title-H1{
    font-size:2.5rem;
    font-weight: 900;
    font-family: 'Satoshi', sans-serif;
  }

  .Signture-logo .image-col{
    width:90px;
  }

  .flex-Desgin{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .photo-design{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .photo-design img{
    width:3.5rem;
    display: flex;
    align-items: center;
    margin-right: 1rem;
  }
  .Customer-text{
    font-size: 1.1rem;
    font-weight: 500;
    font-family: 'Satoshi', sans-serif;
    color: #0D2159;
  }
  .design-title{
    font-size: 1.1rem;
    font-weight: 700;
    color:#0D2159;
    font-family: 'Satoshi', sans-serif;
  }
  .design-p {
    font-size: 0.8rem;
    font-weight: 500;
    color: #536D97;
    font-family: 'Satoshi', sans-serif;
  }
  .design-radius{
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .design-radius .radius-1{
    width:10px;
    height: 10px;
    background-color:#FAD7D3;
    border-radius: 50%;
    margin:0 0.2rem;
    transition: all 0.4s 0s;
  }
  .design-radius .radius-1:hover{
    background-color:#FF5F49;
  }
  @media (max-width:768px) {
    .Customer-flex{
      flex-wrap: wrap;
    }
  }
  /* End Customer-Testimonial */


  /* Read-About */
  .Read-About{
    margin:10rem 0;
  }
  .Read-Left-three{
    position: relative;
  }
  .IN-One{
    width:400px;
    height:400px;
    border-radius: 50%;
    background-image:linear-gradient(rgba(254, 90, 68, 0.907),rgba(204, 75, 58, 0.863)),url(/public/Images/Circle.png); background-repeat: no-repeat; background-position: left bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:rgba(13, 33, 89, 1);
  }
  .Medius-Two{
    position: absolute;
    width:280px;
    height:280px;
    border-radius: 50%;
    /* background-color: rgba(255, 255, 255, 1); */
    background-image:linear-gradient( rgba(255, 255, 255, 1),  rgba(255, 255, 255, 1));
    left:220px;
    bottom:250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .Medius-Two .image-vector{
    position: absolute;
    top:5px;
    left:-10px;
  }
  .Twitter-Three{
    position: absolute;
    width:200px;
    height:200px;
    border-radius: 50%;
    background-color:rgba(235, 239, 247, 1);
    left:-330px;
    top:165px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .IN-One i{
    font-size: 2rem;
    background-color:rgba(204, 76, 58, 1);
    color:rgba(0, 119, 181, 1);
    padding:30px;
    border-radius: 50%;
  }
  .Medius-Two i{
    font-size: 1.5rem;
    background-color:rgba(245, 246, 247, 1);
    color:rgba(0, 0, 0, 1);
    padding:25px;
    border-radius: 50%;
  }
  .Twitter-Three i{
    font-size: 1.2rem;
    background-color:rgba(245, 246, 247, 1);
    color: rgba(29, 161, 242, 1);
    padding:15px;
    border-radius: 50%;
  }
  .IN-One .Read-P{
    color:rgba(255, 255, 255, 0.794);
    margin:1rem 0;
  }
  .Medius-Two .Read-P{
    color: rgba(136, 155, 182, 1);
    font-size: 0.9rem;
    font-weight: 700;
    margin:1rem 0;
  }
  .IN-One .Read-title{
    font-size: 2rem;
    font-weight: 900;
    color:rgba(255, 255, 255, 1);
  }
  .Medius-Two .Read-title{
    font-size: 1.5rem;
    font-weight: 900;
    color:rgba(13, 33, 89, 1);
  }
  .Twitter-Three .Read-title{
    font-size: 1.1rem;
    font-weight: 700;
  }
  .Read-flex{
    display: flex;
    justify-content:center;
  }
  .Read-Left-three{
    width:40%;
  }
  .Read-right-content{
    width:33%
  }
  .Read-Content .Title-h5{
    font-size:0.8rem;
    font-weight: 700;
  }
  .Read-Content .Title-H3{
    font-size: 2.5rem;
  }
  .Read-Content .Text-P1{
    font-size: 0.9rem;
    font-weight: 500;
    margin: 1.6rem 0;
  }
  .Read-icons .Title-h6{
    background-color: transparent;
    padding:15px 25px;
    font-size: 0.8rem;
    border: 2.5px solid #FF5F49;
    color:#FF5F49;
  }
  @media (max-width:1350px) {
    .Read-flex{
      flex-direction: column;
    }
    .Read-Left-three{
      width:100%
    }
    .Read-right-content{
      width:100%
    }
  }
  /* End Read-About */

  /* Team-Member */
  .Team-Member{
    margin: 10rem 0;
  }
  .Team-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:4rem 0;
  }
  .Cards-icons i{
    font-size: 1.5rem;
    background-color: #FFFFFF;
    color: #0D2159;
    width:70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.4s ease-in;
  }
  .Cards-icons i:hover{
    background-color: #FF5F49;
    color: #FFFFFF;
  }
  .Team-text{
    text-align: center;
    align-items: center;
  }
  .Team-text .Title-h5{
    font-size: 0.8rem;
  }

  .Images-list{
    display: flex;
    justify-content: space-between;
    gap:30px;
    overflow: hidden;
  }
 
  .images-items{
    background-color:rgba(255, 255, 255, 1);
    width:22%;
    height:auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding:30px 30px 0px 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .text-slider{
    text-align: center;
  }

  .text-slider .Title-H3{
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 2rem;
  }
  .text-slider .Text-P1{
    font-size: 0.9rem;
    font-weight: 500;
    color: rgba(109, 132, 166, 1);
    margin-bottom: 2rem;

  }
  .Slider-Cards{
    margin-bottom: 7rem;
  }
  .scroll-hozional{
    width:100%;
    height: 4px;
    border-radius: 10px;
    background-color: rgba(207, 216, 229, 1);
  }
  .scroll-in-hozional{
    width:20%;
    height: 4px;
    background-color: #FF5F49;
  }

  @media (max-width:768px) {
    .images-items{
      width:50%;
    }
    .text-slider .Title-H3{
      font-size: 1rem;
    }
  }
  @media (max-width:460px) {
    .images-items{
      width:100%;
    }
  }
  /* End Team-Member */
  
  /* Latest-Article */

  .Latest-Article{
    margin:8rem 0;
  }
  .Latest-Article .Team-text{
    margin:4rem 0;
  }
  .Blog-Cards{
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    margin-bottom: 1.5rem;
    padding:40px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    transition: all 0.4s ease-in;
  }
  .hover-1:hover{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }
  .Blog-Card{
    background-color: rgba(255, 255, 255, 1);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    padding:40px;
    height: 708px;
  }
  .Blog-Card .image-Cards-1{
    max-width:100%;
  }
  .Blog-Cards .image-Blogs{
    margin-right: 2.5rem;
  }
  .Latest-Blogs-Flex{
    display: flex;
    justify-content: center;
    gap:1.5rem;
  }
  .funfact-text .blog-p1{
    font-size: 0.9rem;
    color:rgba(109, 132, 166, 1);
  }
  .funfact-text .Title-H3{
    color:rgba(13, 33, 89, 1);
    font-weight: 700;
    font-size: 1.1rem;
    margin: 1.1rem 0;
  }
  span{
    padding:5px 10px;
    background-color: rgba(255, 98, 78, 0.167);
    font-size: 0.8rem;
    font-weight: 500;
    color: #FF5F49;
    margin-left: 0.4rem;
  }
  .Blog-Card  .funfact-text .Title-H3{
    font-size: 1.5rem;
    margin: 1.1rem 0;
  }
  .Blog-Card  .funfact-text .blog-p1{
    margin-top:2rem;
  }
  .funfact-text .Title-h6{
    background-color: transparent;
    border-bottom: 3px solid #FF5F49;
    color:#FF5F49;
    font-weight: 900;
    font-size: 0.9rem;
    padding:10px 0;
  }
  .funfact-text .Title-h6 i{
    color: #FF5F49;
    font-size: 1rem;
  }
  .funfact-text .Blog-p2{
    width:420px;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
  }
  .Blog-Card .Blog-p2 {
    width:500px;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
  }
  @media (max-width:1499px) {
    .Latest-Blogs-Flex{
      flex-wrap: wrap;
    }
  }
  /* End Latest-Article */