
body{
  background-image: url(/public/Images/service-img.jpeg);
  font-family: 'Satoshi', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(#b3b3b31d, #b3b3b311) ;
}

:root{
  /* -----font weight ---- */
  --pmo-weight-900:900;
  --pmo-weight-700:700;
  --pmo-weight-600:600;
  --pmo-weight-500:500;
  --pmo-weight-400:400;

  /* -----font size ---- */

  --font-size-48-h2: 48px;
  --font-size-18-inter: 18px;
  --font-size-24-inter: 24px;
  --font-size-16-h6: 16px;
  --font-size-40-h3: 40px;

  /* ---- color ---- */

  --color-heading: #0D2159;
  --color-small: #536D97;

  /* ---- background-color ----- */

  --background-color-skill-blue: #1777E5;
  --background-color-skill-orange: #FF5F49;
  --background-color-skill-green: #2DB24A;

}

/* ------ short ----- */

.wid-auto {
  width: 100%;
  margin: 0 auto;
}

.text-align {
  text-align: center;
}

.color-blue {
  color: var(--color-heading);
}

.color-small {
  color: var(--color-small);
}

.weight-900 {
  font-weight: var(--pmo-weight-900);
}

.size-48 {
  font-size: var(--font-size-48-h2);
}

.all-flex{
  display: flex;
  flex-wrap: wrap;
}

/* ------ service body all ---- */

.section-header{
  max-width: 1320px;
  padding: 180px 0;
  text-align: center;
}

.text-header h1 {
  font-weight: var(--pmo-weight-600);
  margin-bottom: 40px;
}

.text-header h6 {
  font-size: var(--font-size-24-inter);
  font-weight: var(--pmo-weight-400);
}

.card-service-outter {
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.card-service-outter .card-service-inner{
  padding: 10px;
}

.card-service-inner .card-service {
  width: 306px;
  height: 268px;
  padding: 40px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
}

.card-service .img-service {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 88px;
  height: 88px;
  margin-bottom: 40px;
  border-radius: 50%;
  box-shadow: 0 32px 20px rgba(0, 47, 108, 0.1);
}

.card-service .card-service-text h6 {
  font-weight: var(--pmo-weight-600);
  font-size: 20px;
}

.card-service .card-service-text p {
  font-size: 14px;
  font-weight: var(--pmo-weight-400);
}

.section-header button {
  display: inline-block;
  align-items: center;
  border: 0;
  outline: 0;
  padding: 15px 20px;
  background-color: var(--background-color-skill-orange);
  color: white;
  margin-top: 60px;
}

.section-header button i {
  margin-left: 10px;
  font-size: 19px;
}

/* ------ tools use ----- */

.section-face-tools {
  background-color: white;
}

.section-face-tools .text-tools-use {
  max-width: 1192px;
  padding: 70px 0;
  border-bottom: 1px solid #DFE3E5;
}

.text-tools-use h4 {
  font-size: var(--font-size-24-inter);
  font-weight: var(--pmo-weight-600);
}

.section-face-tools .outter-tools {
  justify-content: center;
  align-items: center;
}

.section-face-tools .outter-tools .tools-footer-padding {
  padding: 8px;
}

.tools-footer-padding .card-tools {
  padding: 30px ;
  width: 128px;
  height: 124px;
  box-shadow: 0 8px 24px rgba(0, 47, 108, 0.1);
  border-radius: 6px;
}

.card-tools h6 {
  margin-top: 15px;
}

/* ----- section-chest ---- */

.section-chest {
  padding: 9vmax 0;
  background-color: white;
}

.section-chest .work-width{
  max-width: 1192px;
}

.work-width .col-left {
  width: 536px;
  padding: 0 30px 0 0;
}

.work-width .col-right {
  width: 648px;
}

.work-width .col-left h2 {
  font-size: var(--font-size-48-h2);
  font-weight: var(--pmo-weight-500);
}

.col-left h6 {
  font-size: var(--font-size-18-inter);
  color: var(--color-small);
  font-weight: var(--pmo-weight-400);
  margin-top: 10px;
  line-height: 30px;
}

.col-right .background-same {
  width: 312px;
  height: 72px;
  padding: 24px;
  background-color: rgba(245, 246, 247, 1);
  align-items: center;
  border-radius: 6px;
}

.background-same:first-child {
  margin-bottom: 20px;
}

.background-same h6 {
  font-size: var(--font-size-18-inter);
  font-weight: var(--pmo-weight-400);
  margin-left: 20px;
  line-height: 24px;
}

.col-right .contain-right{
  margin-left: 20px;
}

/* -------- section-knee style -------- */

.section-knee {
  max-width: 1192px;
  padding: 14vmax 0;
}

.section-knee .col-skill-left {
  width: 45%;
  padding: 0 70px 0 0;
}

.section-knee .col-skill-left h1 {
  font-weight: var(--pmo-weight-600);
}

.section-knee .col-skill-left h5 {
  font-size: 20px;
  font-weight: var(--pmo-weight-400);
  color: var(--color-small);
  line-height: 32px;
}

.section-knee .skill-precent h6 {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}

.col-skill-left .margin-top-20{
  margin-top: 40px;
}

.col-skill-left .margin-skill-10{
  margin-top: 40px;
}

.skill-precent .precent-style {
  position: relative;
  width: 100%;
  height: 6px;
}

.skill-precent .precent-style .height-16-precent {
  position: absolute;
  top: -4px;
  height: 16px;
  border-radius: 30px;
}

.skill-precent .background-lightblue {
  background-color: rgba(209, 228, 250, 1);
}

.skill-precent .precent-style .background-blue {
  width: 86%;
  background-color: rgba(23, 119, 229, 1);
}

.skill-precent .background-lightred {
  background-color: rgba(255, 223, 219, 1);
}

.skill-precent .precent-style .background-red {
  width: 76%;
  background-color: rgba(255, 95, 73, 1);
}

.skill-precent .background-lightgreen {
  background-color: rgba(213, 240, 219, 1);
}

.skill-precent .precent-style .background-green {
  width: 93%;
  background-color: rgba(45, 178, 74, 1);
}

.section-knee .col-skill-right {
  width: 55%;
  justify-content: center;
  align-items: center;
  position: relative;
}

.col-skill-right .circle-ball {
  width: 480px;
  height: 492px;
  border-radius: 50%;
  background-color: var(--background-color-skill-orange);
  position: relative;
}

.tranlate-50-text {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle-ball img{
  border-radius: 50%;
  padding: 28px;
  background-color: white;
}

.tranlate-50-text h6 {
  font-size: 20px;
  font-weight: var(--pmo-weight-600);
  color: rgba(255, 191, 182, 1);
  margin: 20px 0;
  text-transform: uppercase;
}

.tranlate-50-text h5{
  font-size: var(--font-size-40-h3);
  font-weight: var(--pmo-weight-600);
  color:rgba(255, 255, 255, 1);
}

.col-skill-right .circle-instagram {
  width: 352px;
  height: 352px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
  position: absolute;
  top: -164px;
  left: 330px;
  border: 4px solid;
  border-top-color: rgba(140, 58, 170, 0.162);
  border-right-color: rgba(140, 58, 170, 0.599);
  border-bottom-color: rgba(216, 45, 125, 0.556);
  border-left-color: rgba(250, 141, 33, 0.394);
}

.circle-instagram .tranlate-50-text h6 {
  font-size: var(--font-size-18-inter);
  font-weight: var(--pmo-weight-500);
  color: rgba(136, 155, 182, 1);
  margin: 20px 0;
  text-transform: uppercase;
}

.circle-instagram .tranlate-50-text h5{
  font-size: 32px;
  font-weight: var(--pmo-weight-600);
  color:rgba(13, 33, 89, 1);
}

.col-skill-right .circle-twitter {
  width: 224px;
  height: 224px;
  border-radius: 50%;
  background: rgba(235, 239, 247, 1);
  position: absolute;
  top: 80px;
  left: -20px;
}

.circle-twitter .tranlate-50-text h6 {
  font-size: 14px;
  font-weight: var(--pmo-weight-500);
  color: rgba(136, 155, 182, 1);
  margin: 20px 0;
  text-transform: uppercase;
}

.circle-twitter .tranlate-50-text h5{
  font-size: 20px;
  font-weight: var(--pmo-weight-600);
  color:rgba(13, 33, 89, 1);
}


/*------- section chin ------  */

.sction-img-chin {
  padding: 10vmax 0 5vmax;
  background-color: white;
  overflow: hidden;
  background-image: url(/public/Images/man-01.png);
  background-repeat: no-repeat;
  background-size: 1179px 1316px;
  background-position: 190% 10%;
  justify-content: center;
  align-items: center;
}

.sction-img-chin .section-chin{
  max-width: 1192px;
}

.section-chin .card-width-50 {
  width: 760px;
  height: 528px;
}

.card-width-50 .header-text-h1 {
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-text-h1 h1 {
  width: 536px;
  font-size: var(--font-size-48-h2);
  font-weight: var(--pmo-weight-600);
}

.card-width-50 .text-decsript {
  width: 100%;
  height: 248px;
  padding: 40px;
  background-color: rgba(245, 246, 247, 1);
  border-radius: 8px;
  margin-top: 35px;
}

.text-decsript h6 {
  font-size: var(--font-size-24-inter);
  font-weight: var(--pmo-weight-400);
  line-height: 32px;
}

.text-decsript p {
  font-size: var(--font-size-18-inter);
  font-weight: var(--pmo-weight-400);
  color: var(--color-small);
}

.text-decsript p strong {
  font-size: var(--font-size-24-inter);
  font-weight: var(--pmo-weight-500);
  margin-right: 10px;
}

.card-width-50 .icon-section-chin {
  align-items: center;
  margin-top: 20px;
}

.icon-section-chin .border-radius-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(223, 227, 229, 1);
  margin-left: 10px;
}

.icon-section-chin .border-radius-dot-width {
  width: 32px;
  height: 12px;
  border-radius: 30px;
  background-color: var(--background-color-skill-orange);
  margin-left: 17px;
}

.icon-section-chin i {
  font-size: 20px;
  padding: 25px;
  color: var(--color-small);
  border-radius: 50%;
  margin-left: 17px;
  border: 2px solid rgba(209, 228, 250, 1);
}

.icon-section-chin .orange-arrow {
  color: white;
  background-color: var(--background-color-skill-orange);
}

/* ---- section toe --- */

.background-white-section-toe {
  background-color: white;
}

.section-toe {
  max-width: 1370px;
  padding: 7vmax 0;
}

.section-toe h1 {
  font-weight: var(--pmo-weight-600);
  line-height: 56px;
  margin-bottom: 20px;
}

.section-toe h6 {
  font-size: 20px;
  font-weight: var(--pmo-weight-400);
  color: var(--color-small);
  line-height: 32px;
  margin-bottom: 35px;
}

.section-toe .img-company-logo {
  justify-content: center;
  align-items: center;
}

.img-company-logo img {
  padding: 20px 24px;
  width: 200px;
  height: 96px;
  border-right: 1px solid rgba(223, 227, 229, 1);
  border-bottom: 1px solid rgba(223, 227, 229, 1);
  object-fit: cover;
}

.img-company-logo img:last-child {
  border-right: none;
}

.img-company-logo:last-child img {
  border-bottom: none;
}

.img-company-logo img:last-child{
  border-bottom-width: 1px ;
}

/* ------------ width srceen in mobile 767px --------- */

@media (max-width: 767px) {
  .section-chest .work-width {
    justify-content: center;
    text-align: center;
  }

  .sction-img-chin {
    padding: 5vmax 30px;
    background-position: -23% 10%;
  }

  .section-chin .card-width-50 {
    width: 100%;
  }

  .header-text-h1 h1 {
    width: 480px;
    font-size: 40px;
  }

  .work-width .col-left {
    margin-bottom: 50px;
  }

  .section-knee .col-skill-right{
    width: 100%;
    margin-top: 253px;
  }

  .col-skill-right .circle-ball {
    width: 400px;
    height: 400px;
  }

  .circle-ball .tranlate-50-text h6 {
    font-size: 18px;
  }

  .circle-ball .tranlate-50-text h5 {
    font-size: 35px;
  }

  .col-skill-right .circle-instagram {
    width: 259px;
    height: 259px;
    position: absolute;
    top: -156px;
    left: 376px;
  }

  .circle-instagram .tranlate-50-text h6 {
    font-size: 16px;
  }

  .circle-instagram .tranlate-50-text h5 {
    font-size: 21px;
  }

  .circle-instagram .tranlate-50-text img {
    width: 80px;
    width: 80px;
  }

  .col-skill-right .circle-twitter{
    width: 200px;
    height: 200px;
    position: absolute;
    left: 30px;
  }

  .circle-twitter .tranlate-50-text h5 {
    font-size: var(--font-size-18-inter);
  }

  .section-knee .col-skill-left {
    width: 100%;
    padding: 0 46px;
  }
}