*{
    font-family: 'Satoshi', sans-serif;
    list-style: none;
    text-decoration: none;
}
body{
    background-image: linear-gradient(rgba(255, 255, 255, 0.872), rgba(255, 255, 255, 0.941)),url(/public/Images/background-b.jpg);
}
/* Work-width */
.Work-width{
    margin-bottom:9rem;
}
.Title-Nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 0;
    padding: 0 10px;
}
.Title-Nav .About-Title{
    font-size:2.5rem ;
    font-weight: 600;
}
.Work-nav .Work-items{
    display: flex;
    align-items: center;
}
.Work-nav .Work-items li{
    font-size: 1rem;
    font-weight: 600;
    color:#889BB6;
    margin:0 0.7rem;
    cursor: pointer;
    transition: all 0.4s ease 0s;
}
.Work-nav .Work-items li:hover{
    color: #002F6C;
    padding:7px 15px;
    border-radius: 2px;
    background-color:#ffffff;
}
.Work-Cards{
    margin-bottom: 2.6rem;
}
.work-C-flex{
    display: flex;
    justify-content: center;
}
.work-C-flex .image-Scroll{
    width:100%;
    overflow: hidden;
    margin: 0.7rem;
    object-fit: cover;
}
.button-work{
    background-color: #ffffff;
    color: #002F6C;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.button-work i{
    margin-right: 0.9rem;
    color: #536D97;
}
@media (max-width:768px) {
    .work-C-flex{
        flex-wrap: wrap;
    }
    .Title-Nav{
        flex-wrap: wrap;
        justify-content: center;
        margin: 2rem 0;
    }
    .Work-nav .Work-items li{
        margin:0 0.5rem;
    }
}
/* End Work-width */