

.footer-six {
    width: 100%;
    position: absolute;
}

.footer-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 3.5rem;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding-top: 80px;
}

.footer-col .logos-1 {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.footer-col .logos-1 h1 {
     font-size: 1.5rem;
    font-weight: 600;
    color: rgb(47, 38, 31);
    font-family: Roboto;
}

.footer-col .links-footer li {
    list-style: none;
}

.footer-col .links-footer li a {
    text-decoration: none;
    display: inline-flex;
    margin: 10px 0;
    font-size: 1rem;
    font-weight: 500;
    color: rgb(47, 38, 31);
    transition: 0.15s ease;
}

.footer-col .links-footer li a:hover {
    color: #ddd;
}

@media(max-width: 768px) {
    .footer-row {
        /* flex-direction: column; */
        flex-wrap: wrap;
        width: 90%;
    }

    .footer-col .links-footer li a {
        font-size: 0.95rem;
    }
}