:root{
    /* background */
    --pmo-background-1:#efc400;
    --pmo-background-2:#fab60b;
    --pmo-background-3:#ffa900;
    --pmo-backgorund-4:orange;
    --pmo-background-4:#ff9c00;
    --pmo-background-5:#ff8400;
    --pmo-background-6:#e57300;
    --pmo-background-7:#fe8000;
    --pmo-background-8:#ff8c19;
    --pmo-background-9:#ff9932;
    --pmo-background-10: #ffa64c;
    --pmo-background-11: #f8dec4;
    --pmo-background-12:#ffbf7f6d;

    /* text-name */
    --pmo-background-black:black;
    --pmo-background-14:white;
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    text-decoration: none;
}

body{
    font-family: "Outfit", sans-serif;
}
img{
    width:100%;
}

/* -----header-form-contacts------- */
.header-form-contacts{
    background-color:var(--pmo-background-11);
    width:100%;
    height: 100%;
    padding: 50px;
    border-radius: 0 0 20px 20px;
}
.rows-header-contacts{
    position: relative;
    display:flex;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
}
.cols-header-contacts{
    max-width:400px;
    position: relative;
    padding:0 10px;
}
.text-contact{
    display: flex;
    flex-direction: column;
}
.text-contact input{
    width:300px;
    height: 30px;
    padding:5px;
    border-radius: 3px;
    outline:none;
    border: none;
    margin-bottom: 5%;
    border: 1px solid black;
}
::placeholder{
    color:black;
    opacity: 0.5;
    font-size: 5px;
}
.text-contact label{
    font-size: 20px;
    color:black;
    margin-bottom: 5px;
}
.contact-message{
    margin:5px 0;
}
.contact-message label{
    font-size: 20px;
    color:black;
    font-weight: 500;
    margin-bottom: 5px;
}
.contact-message textarea{
    display: flex;
    flex-direction: column;
    padding:5px;
    margin:5px 0;
    border-radius: 3px;
    outline:none;
    border: none;
    margin-bottom: 3%;
    border: 1px solid black;
}
.button-c{
    width:100%;
    padding:10px 0;
    background-color:var(--pmo-background-black);
    text-align: center;
    transition: 0.4s ease-in;
    cursor: pointer;
    border-radius: 5px;
}
.button-c:hover{
    background-image: linear-gradient( #efc400, #e57300);
}
.button-c a{
    font-size: 15px;
    color:var(--pmo-background-14);
    font-weight: 500;
}
.button-c a:hover{
    color:white;
}
.contact-us-button h6{
    font-size: 10px;
    color:black;
    border: 2px dotted black;
    padding:5px 10px;
    width:120px;
    border-radius: 10px;
}
.contact-us-text h1{
    border-bottom: 3px dotted black;
    width:200px;
    font-size: 35px;
    margin:3% 0;
}
.contact-us-text h1:hover{
    width:230px;
}
.contact-us-text p{
    opacity: 0.7;
}

.contacts-font-icon h5{
    font-size: 10px;
    margin-top: 3%;
}
.contacts-font-icon p{
    opacity: 0.7;
    margin: 1% 0;
}
.contact-radius{
    position: absolute;
    width:500px;
    height:200px;
    background-color: #ff910059;
    border-radius: 100px;
    filter: blur(100px);
    bottom:25%;
}

@media(max-width:745px){
    .cols-header-contacts{
        margin:5% 0;
        width:100%;
    }
    .text-contact input{
        width:100%;
        height: 40px;
    }
    .contact-message textarea{
        width:100%;
    }
    .rows-header-contacts{
        flex-wrap: wrap;
    }
}
/* -------header-form-contacts-Ends------ */

/* --------contact-feedback--------- */
.contact-feedback{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    background-color: #f8dec41f;
    cursor: pointer;
}
.button-feedback{
    width:250px;
    height: 60px;
    background-color: var(--pmo-background-6);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-feedback a{
    font-size: 15px;
    font-weight: 600;
    color: white;
}
.button-feedback a:hover{
    scale: 1.1;
}
/* -------contact-feedback-Ends------ */

#header-login{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.header-link{
    background-color:black;
    width:350px;
    height: 350px;
    border: 2px solid var(--pmo-background-7);
    padding:25px;
}
.header-link h2{
    font-size: 25px;
    text-align: center;
    margin-bottom: 5%;
    color:white;
}
.login-p{
    font-size: 20px;
    margin-bottom: 10px;
    color:white;
}
input{
    width:100%;
    height:40px;
    border-radius: 10px;
    padding:0 10px;
    outline: none;
    border: none;
    border: 1px solid var(--pmo-background-6);
    margin-top: 5px;
}
.pass p{
    font-size: 5px;
    color:white;
}
.submit{
    background-color: white;
    color:black;
    font-weight: 500;
    transition: all 0.2s;
    cursor: pointer;
}
.submit:hover{
    background-image: linear-gradient( #efc400, #e57300);
}